<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="conexionOmnitecDB" connectionString="Data Source=DESKTOP-ND9L1BV;database=omnitec;User ID=omnitec; Password=omnitecapp; Connect Timeout=30;" />
  </connectionStrings>
  <appSettings>
    <add key="ServidorBDOmnitec" value="DESKTOP-ND9L1BV" />
    <add key="BDOmnitec" value="omnitec" />
    <add key="UsuarioBDOmnitec" value="omnitec" />
    <add key="PasswordBDOmnitec" value="omnitecapp" />
    <add key="CadenaBDOmnitec" value="Data Source=DESKTOP-ND9L1BV;database=omnitec;User ID=omnitec; Password=omnitecapp; Connect Timeout=30;" />
    <add key="ServidorBDPulse" value="" />
    <add key="BDPulse" value="" />
    <add key="UsuarioBDPulse" value="" />
    <add key="PasswordBDPulse" value="" />
    <add key="CadenaBDPulse" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>